<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voting application</title>
  </head>

<body>
      {% if current_user.is_authenticated %}
      <p>
	Tervetuloa {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </p>
     {% else %}
     <ul>
      <li><a href="{{ url_for('auth_login') }}">Kirjaudu</a></li>
      <li><a href="{{ url_for('auth_create') }}">Luo käyttäjä</a></li>
     </ul>
      {% endif %}     
      <ul>
	<li><a href="{{ url_for('votings_index') }}">Näytä kaikki äänestykset</a></li>
	<li><a href="{{ url_for('votings_form') }}">Lisää uusi äänestys</a></li>
      </ul>
 
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>

