{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_create') }}">
    <table>
        <tr>
            <td>
                {{ form.createNewName.label}}
            </td>
            <td>
                {{ form.createNewName}}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.createNewUsername.label }}
            </td>
            <td>
                {{ form.createNewUsername }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.createNewPassword.label }}
            </td>
            <td>
                {{ form.createNewPassword }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Luo käyttäjä!" />
            </td>
        </tr>
</form>
{% endblock %}