{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
    <h1 class="display-3">Luo käyttäjä!</h1>

    <form method="POST" action="{{ url_for('auth_create') }}">
        <table>
            <tr>
                <th> {{ form.createNewName.label}} </th>

                {% if not form.createNewName.errors %} </th>
                <th> {{ form.createNewName(class="form-control", placeholder="Nimi")}} </th>
                {% else %}
                <th> {{ form.createNewName(class="form-control is-invalid", placeholder="Nimi") }} </th>
                <th> {% for error in form.createNewName.errors %} {{ error }}
                    {% endfor %}
                </th>
                {% endif %}
            </tr>

            <tr>
                <th> {{ form.createNewUsername.label }} </th>

                {% if error|length != 0%}
                <th> {{ form.createNewName(class="form-control is-invalid", placeholder="Nimi") }} </th>
                {{error}}
                {% else %}
                {% if not form.createNewUsername.errors %}
                <th> {{ form.createNewUsername(class="form-control", placeholder="Käyttäjänimi")}} </th>
                {% else %}
                <th> {{ form.createNewUsername(class="form-control is-invalid", placeholder="Käyttäjänimi") }} </th>
                <th> {% for error in form.createNewUsername.errors %} {{ error }}
                    {% endfor %}
                </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th> {{ form.createNewPassword.label }} </th>

                {% if not form.createNewPassword.errors %}
                <th> {{ form.createNewPassword(class="form-control", placeholder="Salasana") }} </th>
                {% else %}
                <th> {{ form.createNewPassword(class="form-control is-invalid", placeholder="Salasana") }} </th>
                <th> {% for error in form.createNewPassword.errors %} {{ error }}
                    {% endfor %}
                </th>
                {% endif %}
            </tr>

            <tr>
                <th> {{ form.createNewPassword_again.label }} &nbsp;&nbsp; </th>

                {% if not form.createNewPassword.errors %}
                <th> {{ form.createNewPassword_again(class="form-control", placeholder="Salasana") }} </th>
                {% else %}
                <th> {{ form.createNewPassword_again(class="form-control is-invalid", placeholder="Salasana") }} </th>
                <th> {% for error in form.createNewPassword_again.errors %} {{ error }}
                    {% endfor %}
                </th>
                {% endif %}
            </tr>

            <tr>
                <td colspan="3">
                    <br>
                    <input type="submit" , class="btn btn-primary" , value="Luo käyttäjä!" />
                </td>
    </form>
</div>
{% endblock %}