{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
  <table>
    {% if current_user.is_authenticated%}
    {% if current_user.roles()=="ADMIN"%}
    <h1 class="display-3">Listaa käyttäjät:</h1>
    <h4>Hei admin! Tässä lista käyttäjistä: &nbsp;&nbsp; </h4>
    {% for user in data %}
    <tr>
      <th>{{ user.username }}&nbsp;&nbsp; </th>
      <th>
        <form method="GET" action="{{ url_for('auth_edit', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-warning" , value="Muokkaa käyttäjän tietoja" />&nbsp;&nbsp;
        </form>
      </th>

      <th>
        <form method="POST" action="{{ url_for('auth_delete', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-danger" , value="Poista käyttäjä" />&nbsp;&nbsp;
        </form>
      </th>

      <th>
        <form method="GET" action="{{ url_for('votings_show_votings_by_id', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-primary" , value="Tarkastele käyttäjän äänestyksiä" />
        </form>
      </th>
    </tr>
    {%endfor%}

    {% endif %}
    {% endif %}
  </table>
</div>

{% endblock %}