{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
  <h1 class="display-3">Listaa käyttäjät:</h1>
  <table>
    {% if current_user.is_authenticated%}
    {% if current_user.roles()=="ADMIN"%}
    <h4>Hei admin! Tässä lista käyttäjistä: &nbsp;&nbsp; </td>
    </h4>
    {% for user in data %}
    <tr>
      <td>{{ user.username }} </td>
      <td>
        <form method="POST" action="{{ url_for('auth_edit', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-warning" , value="Muokkaa käyttäjän tietoja" />&nbsp;&nbsp;
        </form>
      <td>
        <form method="POST" action="{{ url_for('auth_delete', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-danger" , value="Poista käyttäjä" />&nbsp;&nbsp;
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('auth_edit', user_id=user.id) }}">
          <input type="submit" , class="btn btn-outline-primary" , value="Tarkastele käyttäjän äänestyksiä (coming)" />
        </form>
      </td>
      </td>
    </tr>
    {%endfor%}
    {% endif %}
    {% endif %}
  </table>
</div>

{% endblock %}