{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
      <h1 class="display-3">Kirjaudu sisään!!</h1>

<form method="POST" action="{{ url_for('auth_login') }}">
      <table>
            <br>
            <br>
            <br>
            <br>
            <tr>
                  <td>
                        {{ form.username.label }} &nbsp;&nbsp;
                  </td>
                  <td>
                        {% if usernameError|length == 0 %}

                        {{ form.username(class="form-control", placeholder="Käyttäjänimi")}}
                        {% else %}
                        {{ form.username(class="form-control is-invalid", placeholder="Käyttäjänimi") }}
                        {% for error in usernameError %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <br>
                        </div>
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.password.label }} &nbsp;&nbsp;
                  </td>
                  <td>
                        {% if passwordError|length == 0 %}
                        {{ form.password(class="form-control", placeholder="Salasana")}}
                        {% else %}
                        {{ form.password(class="form-control is-invalid", placeholder="Salasana") }}
                        {% for error in passwordError %} {{ error }}
                        {% endfor %}
                        {% endif %}
                        <br>
                        </div>            
                  </td>
            </tr>
            <tr>
                  <td colspan="2">
                        <br>
                        <input type="submit" , class ="btn btn-primary", value="Kirjaudu sisään!" />
                  </td>
            </tr>
</form>
</div>

{% endblock %}