{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
      <h1 class="display-3">Kirjaudu sisään!!</h1>
      <table>

            <form method="POST" action="{{ url_for('auth_login') }}">
                  <br>
                  <tr>
                        <th> {{ form.username.label }} &nbsp;&nbsp; </th>
                        {% if usernameError|length == 0 %}
                        <th> {{ form.username(class="form-control", placeholder="Käyttäjänimi")}} </th>
                        {% else %}
                        <th> {{ form.username(class="form-control is-invalid", placeholder="Käyttäjänimi") }} </th>
                        <th> {% for error in usernameError %} {{ error }}
                              {% endfor %}
                        </th>
                        {% endif %}
                  </tr>

                  <tr>
                        <th> {{ form.password.label }} &nbsp;&nbsp; </th>
                        {% if passwordError|length == 0 %}
                        <th> {{ form.password(class="form-control", placeholder="Salasana")}} </th>
                        {% else %}
                        <th> {{ form.password(class="form-control is-invalid", placeholder="Salasana") }} </th>
                        <th> {% for error in passwordError %} {{ error }}
                              {% endfor %}
                        </th>
                        {% endif %}
                  </tr>
                  <tr>

                        <td colspan="2">
                              <br>
                              <input type="submit" , class="btn btn-primary" , value="Kirjaudu sisään!" />
                        </td>
                  </tr>
            </form>
      </table>
</div>
{% endblock %}