{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
    {% if current_user.roles()=="ADMIN" or creator == current %}
    <h1 class="display-3"> Päivitä äänestystä: </h1>
    <form method="POST" action="{{ url_for('votings_edit', voting_id=voting.id) }}">

        <head>
            <style>
                p.title {
                    font-size: 20px;
                }
            </style>
        </head>

        <table>
            <br>
            <tr>
                <p class="title">Kysymys</p>
                {% if error == "Tällä nimellä on jo äänestys!" %}
                <th> {{ form.name(class="form-control is-invalid",style="width: 400px;", placeholder=voting.name) }}
                </th>
                <th> {{ error }} </th>

                {% else %}
                {% if not form.name.errors %}
                <th> {{ form.name(class="form-control",style="width: 400px;", placeholder=voting.name)}} </th>
                {% else %}
                <th> {{ form.name(class="form-control is-invalid",style="width: 400px;", placeholder=voting.name) }}
                </th>
                <th> {% for error in form.name.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th> {{ form.nameDescription(class="col-form-label col-form-label-sm",style="width: 400px;", placeholder=voting.description) }}
                <th> {% for error in form.nameDescription.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
                </th>
            </tr>

            <tr>
                <th> &nbsp;
                    <p class="title">Vaihtoehto 1.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
                <th> {{ form.option1(class="form-control is-invalid",style="width: 300px;", placeholder=options[0].name) }}
                </th>
                <th> {{ error }} </th>

                {% else %}
                {% if not form.option1.errors %}
                <th> {{ form.option1(class="form-control",style="width: 300px;", placeholder=options[0].name)}} </th>
                {% else %}
                <th> {{ form.option1(class="form-control is-invalid",style="width: 300px;", placeholder=options[0].name) }}
                </th>
                <th> {% for error in form.option1.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option1Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[0].description) }}
                <th> {% for error in form.option1Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
                </th>
            </tr>

            <tr>
                <th> &nbsp;
                    <p class="title">Vaihtoehto 2.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
                <th> {{ form.option2(class="form-control is-invalid",style="width: 300px;", placeholder=options[1].name) }}
                </th>
                <th> {{ error }} </th>

                {% else %}
                {% if not form.option2.errors %}
                <th> {{ form.option2(class="form-control",style="width: 300px;", placeholder=options[1].name)}} </th>
                {% else %}
                <th> {{ form.option2(class="form-control is-invalid",style="width: 300px;", placeholder=options[1].name) }}
                </th>
                <th> {% for error in form.option2.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option2Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[1].description) }}
                <th> {% for error in form.option2Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
                </th>
            </tr>
            <tr>
                <th>
                    &nbsp;
                    <p class="title">Vaihtoehto 3.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
                <th>{{ form.option3(class="form-control is-invalid",style="width: 300px;", placeholder=options[2].name) }}
                </th>
                <th> {{ error }} </th>

                {% else %}
                {% if not form.option3.errors %}
                <th> {{ form.option3(class="form-control",style="width: 300px;", placeholder=options[2].name)}} </th>
                {% else %}
                <th> {{ form.option3(class="form-control is-invalid",style="width: 300px;", placeholder=options[2].name) }}
                </th>
                <th> {% for error in form.option3.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option3Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[2].description) }}
                <th> {% for error in form.option3Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
            </tr>

            {%if options|length>3 %}

            <tr>
                <th>
                    <br>
                    <p>Jos et halua enempää kuin kolme vaihtoehtoa, voit jättää loput kentät tyhjiksi</p>

                    &nbsp;
                    <p class="title">Vaihtoehto 4.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!" %}
                <th>{{ form.option4(class="form-control is-invalid",style="width: 300px;", placeholder=options[3].name) }}
                </th>
                <th> {{ error }}</th>

                {% else %}
                {% if not form.option4.errors %}
                <th> {{ form.option4(class="form-control",style="width: 300px;", placeholder=options[3].name)}} </th>
                {% else %}
                <th> {{ form.option4(class="form-control is-invalid",style="width: 300px;", placeholder=options[3].name) }}
                </th>
                <th> {% for error in form.option4.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option4Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[3].description) }}
                <th> {% for error in form.option4Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
            </tr>
            {%endif%}

            {%if options|length>4 %}


            <tr>
                <th>
                    &nbsp;
                    <p class="title">Vaihtoehto 5.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!" %}
                <th>{{ form.option5(class="form-control is-invalid",style="width: 300px;", placeholder=options[4].name) }}
                </th>
                <th> {{ error }} </th>

                {% else %}
                {% if not form.option5.errors %}
                <th> {{ form.option5(class="form-control",style="width: 300px;", placeholder=options[4].name)}} </th>
                {% else %}
                <th> {{ form.option5(class="form-control is-invalid",style="width: 300px;", placeholder=options[4].name) }}
                </th>
                <th> {% for error in form.option5.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option5Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[4].description) }}
                <th> {% for error in form.option5Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
            </tr>
            {%endif%}

            {%if options|length>5 %}


            <tr>
                <th>
                    &nbsp;
                    <br>
                    <p class="title">Vaihtoehto 6.</p>
                </th>
            </tr>

            <tr>
                {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!"%}
                <th>{{ form.option6(class="form-control is-invalid",style="width: 300px;", placeholder=options[5].name) }}
                </th>
                <th>{{ error }} </th>

                {% else %}
                {% if not form.option6.errors %}
                <th> {{ form.option6(class="form-control",style="width: 300px;", placeholder=options[5].name)}} </th>
                {% else %}
                <th> {{ form.option6(class="form-control is-invalid",style="width: 300px;", placeholder=options[5].name) }}
                </th>
                <th> {% for error in form.option6.errors %} {{ error }}
                    {% endfor %} </th>
                {% endif %}
                {% endif %}
            </tr>

            <tr>
                <th>
                    {{ form.option6Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=options[5].description) }}
                <th> {% for error in form.option6Description.errors %} {{ error }}
                    {% endfor %} </th>
                </th>
            </tr>
            {%endif%}


        </table>

        <tr>
            <th>
                <p>&nbsp;</p>
            </th>
        </tr>

        <input id="count_options" type="hidden" value={{options|length+1}} />

        </table>

        <div id='buttons'> </div>
        <script type="text/javascript">
        </script>

        <script type="text/javascript">
            var answers = 0;
            function addOption() {
                write = document.getElementById('buttons');
                write.innerHTML = write.innerHMTL + " <input type=\"text\" id=\"answer" + answers + "\" <br>";
                answers = answers + 1;
            }
        </script>


        {%if form.option4.errors and options|length ==3 %}
        <button class="btn btn-danger" onclick="addOption(); return false;">Ops! Virhe lisävaihtoehdossa! Paina tästä
            avataksesi kaikki vaihtoehdot</button>

        {%elif form.option5.errors and options|length ==3 or form.option5.errors and options|length ==4 %}
        <button class="btn btn-danger" onclick="addOption(); return false;">Ops! Virhe lisävaihtoehdossa! Paina tästä
            avataksesi kaikki vaihtoehdot</button>

        {%elif form.option6.errors and options|length ==3 or form.option6.errors and options|length ==4 or form.option6.errors and options|length ==5%}
        <button class="btn btn-danger" onclick="addOption(); return false;">Ops! Virhe lisävaihtoehdossa! Paina tästä
            avataksesi kaikki vaihtoehdot</button>

        {%elif error =="Täytäthän kysymyskentät järjestyksessä!"%}
        <button class="btn btn-danger" onclick="addOption(); return false;">Ops! Virhe lisävaihtoehdossa! Paina tästä
            avataksesi kaikki vaihtoehdot</button>

        {%elif error == "Jokainen vaihtoehto pitää olla eri!" %}
        <button class="btn btn-outline-danger" onclick="addOption(); return false;">Jos yllä olevat vaihtoehdot olivat
            kaikki erit, virhe on täällä</button>

        {%elif form.option4Description.errors or form.option5Description.errors or form.option6Description.errors%}
        <button class="btn btn-outline-danger" onclick="addOption(); return false;">Ops! Virhe lisävaihtoehdossa! Paina
            tästä avataksesi kaikki vaihtoehdot</button>

        {%else%}
        <button class="btn btn-outline-primary" onclick="addOption(); return false;">uusi vaihtoehto</button>
        {% endif %}



        </body>

        <script>
            var index = document.getElementById("count_options").value;
            var answers = 4;

            function addOption() {

                write = document.getElementById('buttons');

                if (index < 5 && index > 3) {

                    write.innerHTML += '<tr> <th> &nbsp; <br> <br> </th> </tr> ';

                    write.innerHTML += ' <p style="color:red; width: 1000px;"> Huom! Valitse ensin tarvittava määrä uusia vastausvaihtoehtoja, ja kirjoita sitten vaihtoehdot tekstikenttiin</p>';
                    write.innerHTML += '<tr> <th> &nbsp; <p class="title"> Vaihtoehto 4. </p> </th> </tr> ';

                    write.innerHTML += ' {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!" %} ';
                    write.innerHTML += '<th>{{ form.option4(class="form-control is-invalid",style="width: 300px;", placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}';
                    write.innerHTML += ' {{ error }} </th>';

                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '{% if not form.option4.errors %}';
                    write.innerHTML += '<th> {{ form.option4(class= "form-control",style="width: 300px;", placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")  }} </th>';
                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '<th> {{ form.option4(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} </th>';
                    write.innerHTML += '<th> {% for error in form.option4.errors %} {{ error }} ';
                    write.innerHTML += '   {% endfor %} </th>';
                    write.innerHTML += ' {% endif %} ';
                    write.innerHTML += '  {% endif %} ';
                    write.innerHTML += ' </tr>';
                    write.innerHTML += ' <br>'


                    write.innerHTML += '<tr> <th> {{ form.option4Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }} ';
                    write.innerHTML += '<th> {% for error in form.option4Description.errors %}'
                    write.innerHTML += ' {{ error }}  </th>'
                    write.innerHTML += '{% endfor %} </th>'
                    write.innerHTML += '</th> </tr>'

                    write.innerHTML += '<br><br>';

                }


                if (index < 6 && index > 4) {

                    write.innerHTML += '<tr> <th> &nbsp; <p class="title"> Vaihtoehto 5. </p> </th> </tr> ';

                    write.innerHTML += '<tr> <th> {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!" %} ';
                    write.innerHTML += '<th> {{ form.option5(class="form-control is-invalid",style="width: 300px;", placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}';
                    write.innerHTML += '  {{ error }} </th>';

                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '{% if not form.option5.errors %}';
                    write.innerHTML += '<th> {{ form.option5(class= "form-control",style="width: 300px;", placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")  }} </th>';
                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '<th> {{ form.option5(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}  <th>';
                    write.innerHTML += '<th> {% for error in form.option5.errors %} {{ error }} ';
                    write.innerHTML += '   {% endfor %} </th>';
                    write.innerHTML += ' {% endif %} ';
                    write.innerHTML += '  {% endif %} ';
                    write.innerHTML += ' </tr>';
                    write.innerHTML += ' <br>'


                    write.innerHTML += '<tr><th> {{ form.option5Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }} ';
                    write.innerHTML += '<th> {% for error in form.option5Description.errors %}'
                    write.innerHTML += ' {{ error }}</th> '
                    write.innerHTML += '{% endfor %} </th>'
                    write.innerHTML += '</th> </tr>'

                    write.innerHTML += '<br><br>';


                }

                if (index < 7 && index > 5) {

                    write.innerHTML += '<tr> <th> &nbsp; <p class="title"> Vaihtoehto 6. </p> </th> </tr> ';

                    write.innerHTML += '<tr> {% if error == "Jokainen vaihtoehto pitää olla eri!" or error == "Täytäthän kysymyskentät järjestyksessä!"%} ';
                    write.innerHTML += '<th> {{ form.option6(class="form-control is-invalid",style="width: 300px;", placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}';
                    write.innerHTML += ' {{ error }} </th>';

                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '{% if not form.option6.errors %}';
                    write.innerHTML += '<th> {{ form.option6(class= "form-control",style="width: 300px;", placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")  }} </th>';
                    write.innerHTML += ' {% else %} ';
                    write.innerHTML += '<th> {{ form.option6(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} </th>';
                    write.innerHTML += ' {% for error in form.option6.errors %} {{ error }} ';
                    write.innerHTML += '   {% endfor %} </th>';
                    write.innerHTML += ' {% endif %} ';
                    write.innerHTML += '  {% endif %} ';
                    write.innerHTML += ' </tr >';
                    write.innerHTML += ' <br>'

                    write.innerHTML += '<tr> <th> {{ form.option6Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }} ';
                    write.innerHTML += '<th> {% for error in form.option6Description.errors %}'
                    write.innerHTML += ' {{ error }} </th>'
                    write.innerHTML += '{% endfor %} </th>'
                    write.innerHTML += '</th> </tr>'

                    write.innerHTML += '<br><br>';
                }

                answers++;
                index++;

            }

        </script>


        <tr>
            <hr class="my-4">

            <p class="title"> Mitä tuloksia haluat, että muut näkevät?</p>

            {%if voting.show_result == 3%}
            <p>Aiempi valinta oli näyttää kaikki tulokset</p>
            {%elif voting.show_result == 2%}
            <p>Aiempi valinta oli näyttää top 3 tulokset </p>
            {%else%}
            <p>Aiempi valinta oli, ettei tuloksia näytetä muille</p>
            {%endif%}

            <th> {{ form.results }} </th>
            <th> {% for error in form.results.errors %} </th>
            <div class="alert alert-dismissible alert-danger">
                <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
            </div>
            {% endfor %}
        </tr>


        <tr>
            <hr class="my-4">


            <th>
                <p class="title"> Äänestys vain kirjautuneille käyttäjille?</p>
            </th>
        </tr>
        <tr>

            {%if voting.anonymous == 1%}
            <p>Aiempi valinta oli "Kyllä"</p>
            {%else%}
            <p>Aiempi valinta oli "Ei" </p>
            {%endif%}


            <th> {{ form.anonymous }} </th>
            <th> {% for error in form.anonymous.errors %} </th>
            <div class="alert alert-dismissible alert-danger">
                <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
            </div>
            {% endfor %}
        </tr>

        <hr class="my-4">

        <th> {% if timeError|length >0 %} </th>
        <div class="alert alert-dismissible alert-danger">
            <th> </a> Ops! Valitsethan alkamisajankohdan aiemmaksi kuin lopetusajan! </th>
        </div>
        {%endif%}


        <tr>

            <head>
                <meta charset="utf-8">
                <link
                    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
                    rel="stylesheet" />
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootsrap.min.css" rel="stylesheet">
                <link href="jquery.datetimepicker.min.css" rel="stylesheet">
            </head>

            <body>
                <div class="container mt-5 mb-5" style="width: 400px">
                    <p class="title">Valitse aloituspäivä ja aika: </p>
                    <p>Aiempi aloituspäivä ja aika oli: {{voting.starting_time}} </p>

                    <th> {{ form.starting_time(class="form-control", id="starting_picker")}} </th>
                    <br>
                    <br>
                    <p class="title">Valitse lopetuspäivä ja aika: </p>
                    <p>Aiempi lopetuspäivä ja aika oli: {{voting.ending_time}} </p>

                    <th> {{ form.ending_time(class="form-control", id="ending_picker")}} </th>

                </div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                <script src="jquery.datetimepicker.full.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
                <script>
                    $('#starting_picker').datetimepicker({
                        constrainInput: true,
                        showClear: true,
                        timepicker: true,
                        datepicker: true,
                        format: 'Y-m-d H:i:s',
                        hours12: false,
                        showOn: 'button',
                        autoSize: true,
                        step: 1,
                        yearStart: 2020,
                        yearEnd: 2090,
                        onShow: function (ct) {
                            this.setOptions({
                                minDate: new Date()
                            })
                        }
                    })
                    $('#ending_picker').datetimepicker({
                        constrainInput: true,
                        showClear: true,
                        timepicker: true,
                        datepicker: true,
                        format: 'Y-m-d H:i:s',
                        hours12: false,
                        showOn: 'button',
                        autoSize: true,
                        step: 1,
                        yearStart: 2020,
                        yearEnd: 2090,
                        onShow: function (ct) {
                            this.setOptions({
                                minDate: $('#starting_picker').val() ? $('#starting_picker').val() : false
                            })
                        }
                    })


                </script>
            </body>

        </tr>

        <td colspan="3">
            <input type="submit" , class="btn btn-primary" , value="Lisää!" />
        </td>

    </form>
    {%endif%}
</div>
{% endblock %}