{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('votings_edit', voting_id=voting.id) }}">
    <table>
        <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }} {{voting.name}}
    </td>
    <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
        </tr>
   <tr>
         <td>
          {{ form.option1.label }}
         </td>
         <td> 
            {{ form.option1 }} {{ options[0].name }}
         </td>
        </tr>
       <tr>
          <td>
            {{ form.option2.label }}
          </td>
          <td>
            {{ form.option2 }} {{ options[1].name }}
          </td>
        </tr>
         <tr>
          <td>
            {{ form.option3.label }}
          </td>
          <td>
            {{ form.option3 }} {{ options[2].name }}
          </td>
        </tr>
        <tr>
      <td colspan="3">
        <input type="submit" value="Päivitä!"/>

      </td>
        </tr>
  </form>
  {% endblock %}
  