{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
  <table>
    {% if not current_user.is_authenticated%}
    <h1 class="display-5"> Äänestykset, jotka eivät vaadi sisäänkirjautumista: </h1>
    <br>
    {% if votingsToVoteNow|length > 0 %}
    <h4>Käynnissä olevat äänestykset: </h4>
    {% for voting in votingsToVoteNow %}
    <tr>
      <th>{{ voting.name }} &nbsp;&nbsp;</th>
      <th>
        <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
          <input type="submit" , class="btn btn-primary" , value="Äänestä!" />
        </form>
      </th>
    </tr>
    {% endfor %}
    {% else %}
    <p>Valitettavasti yhtään äänestystä joka sallii äänestämisen ilman kirjautumista ei ole käynnissä,
      luo tunnus tai kirjaudu sisään nähdäksesi äänestyksiä!
    <p>
      {% endif %}
      </tr>
  </table>


  <table>
    <tr>
      <br>
      <br>
      <br>
      {% if votingsToVoteLater|length > 0 %}
      <p>Äänestykset, jotka eivät ole vielä alkaneet:</p>

      {% for voting in votingsToVoteLater %}
    <tr>
      <th>{{ voting.name }} &nbsp;&nbsp;</th>
      <th>
        <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
          <input type="submit" , class="btn btn-primary" , value="Tarkastele äänestystä!" />
        </form>
      </th>
    </tr>
    {% endfor %}
    {% endif %}
    </tr>
    </tr>
    {% else %}
    <h4>Tervetuloa! </h4>
    {% endif %}
  </table>
</div>
{% endblock %}