{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">

  <head>
    <style>
      p.title {
        font-size: 18px;
      }
    </style>
  </head>

  <table>
    {% if not current_user.is_authenticated%}
    <h1 class="display-5"> Äänestykset, jotka eivät vaadi sisäänkirjautumista: </h1>
    <br>
    {% if votingsToVoteNow|length > 0 %}
    <p class="title">Käynnissä olevat äänestykset: </p>
    {% for voting in votingsToVoteNow %}
    <tr>
      <th>{{ voting.name }} &nbsp;&nbsp;</th>
      <th>
        <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
          <input type="submit" , class="btn btn-primary" , value="Äänestä!" />
        </form>
      </th>
    </tr>
    {% endfor %}
    {% else %}
    <p>Valitettavasti yhtään äänestystä, joka sallii äänestämisen ilman kirjautumista, ei ole käynnissä. :( </p>
    <p> Luo tunnus tai kirjaudu sisään nähdäksesi kaikki käynnissä olevat äänestykset! </p>
    <p>
      {% endif %}
      </tr>
  </table>


  <table>
    <tr>
      <br>
      <br>
      <br>
      {% if votingsToVoteLater|length > 0 %}
      <p>Äänestykset, jotka eivät ole vielä alkaneet:</p>

      {% for voting in votingsToVoteLater %}
    <tr>
      <th>{{ voting.name }} &nbsp;&nbsp;</th>
      <th>
        <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
          <input type="submit" , class="btn btn-primary" , value="Tarkastele äänestystä!" />
        </form>
      </th>
    </tr>
    {% endfor %}
    {% endif %}
    </tr>
    </tr>
    {% else %}
    <h1 class="display-5"> Hei {{current_user.name}}! Kivaa että olet löytänyt tiesi tänne! </h1>
    <p class="title">Toivottavasti tykkäät sovelluksesta :)</p>

    <hr class="my-4">


    <p class="title">Tiesitkö, että sovelluksessa on äänestetty yhteensä jopa {{whole_sum}} kertaa! Näistä äänistä on
      {{sum_of_this_user_has_voted}} sinun!</p>

    <p class="title">Käynnissä olevista äänestyksistä eniten ääniä on saanut vaihtoehto nimeltään: "{{most_voted[0]}}",
      osaatko selvittää, mistä
      äänestyksestä tämä vaihtoehto on?</p>

    <hr class="my-4">
    <br>

    <p class="title">Tällä hetkellä suosituimmat käynnissä olevat äänestykset ovat: </p>

    {%for voting in top_votings%}

    <tr>
      <td> Äänestys: &nbsp; {{voting[0]}} &nbsp;&nbsp;</td>
      <td>Ääniä yhteensä: &nbsp; {{voting[1]}} </td>
    </tr>

    {%endfor%}
    </p>

    {% endif %}
  </table>
</div>
{% endblock %}