{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<div class="jumbotron">
  <h1 class="display-3"> Luo äänestys: </h1>
  <form method="POST" action="{{ url_for('votings_create')}}">

    <table>
      <tr>
        <th>
          <h3> Kysymys: &nbsp;&nbsp; </h3>
        </th>
      </tr>

      <tr>
        {% if error == "Tällä nimellä on jo äänestys!" %}
        <th> {{ form.name(class="form-control is-invalid", placeholder="Kysymys") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.name.errors %}
        <th> {{ form.name(class="form-control", placeholder="Kysymys")}} </th>
        {% else %}
        <th> {{ form.name(class="form-control is-invalid", placeholder="Kysymys") }} </th>
        <th> {% for error in form.name.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th> {{ form.nameDescription(class="col-form-label col-form-label-sm", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>

      <tr>
        <th> &nbsp;
          <h4> Vaihtoehto 1.&nbsp;&nbsp; </h4>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th> {{ form.option1(class="form-control is-invalid", placeholder="Vaihtoehto 1.") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option1.errors %}
        <th> {{ form.option1(class="form-control", placeholder="Vaihtoehto 1.")}} </th>
        {% else %}
        <th> {{ form.option1(class="form-control is-invalid", placeholder="Vaihtoehto 1.") }} </th>
        <th> {% for error in form.option1.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option1Description(class="col-form-label col-form-label-sm", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>

      <tr>
        <th> &nbsp;
          <h4> Vaihtoehto 2. </h4>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th> {{ form.option2(class="form-control is-invalid", placeholder="Vaihtoehto 2.") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option2.errors %}
        <th> {{ form.option2(class="form-control", placeholder="Vaihtoehto 2.")}} </th>
        {% else %}
        <th> {{ form.option2(class="form-control is-invalid", placeholder="Vaihtoehto 2.") }} </th>
        <th> {% for error in form.option2.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option2Description(class="col-form-label col-form-label-sm", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>
      <tr>
        <th>
          &nbsp;
          <h4> Vaihtoehto 3. </h4>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th>{{ form.option3(class="form-control is-invalid", placeholder="Vaihtoehto 3.") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option3.errors %}
        <th> {{ form.option3(class="form-control", placeholder="Vaihtoehto 3.")}} </th>
        {% else %}
        <th> {{ form.option3(class="form-control is-invalid", placeholder="Vaihtoehto 3.") }} </th>
        <th> {% for error in form.option3.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option3Description(class="col-form-label col-form-label-sm", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>


    </table>







    <tr>
      <hr class="my-4">

      <h4> Mitä tuloksia haluat, että muut näkevät?</h4>

      <th> {{ form.results }} </th>
      <th> {% for error in form.results.errors %} </th>
      <div class="alert alert-dismissible alert-danger">
        <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
      </div>
      {% endfor %}
    </tr>


    <tr>
      <hr class="my-4">


      <th>
        <h4> Äänestys vain kirjautuneille käyttäjille?</h4>
      </th>
    </tr>
    <tr>

      <th> {{ form.anonymous }} </th>
      <th> {% for error in form.anonymous.errors %} </th>
      <div class="alert alert-dismissible alert-danger">
        <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
      </div>
      {% endfor %}
    </tr>

    <hr class="my-4">

    <tr>

      <head>
        <meta charset="utf-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          rel="stylesheet" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootsrap.min.css" rel="stylesheet">
        <link href="jquery.datetimepicker.min.css" rel="stylesheet">
      </head>

      <body>
        <div class="container mt-5 mb-5" style="width: 400px">
          <h3>Valitse aloituspäivä ja aika: </h3>
          <th> {{ form.starting_time(class="form-control", id="starting_picker")}} </th>
          <br>
          <br>
          <h3>Valitse lopetuspäivä ja aika: </h3>
          <th> {{ form.ending_time(class="form-control", id="ending_picker")}} </th>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="jquery.datetimepicker.full.min.js"></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script>
          $('#starting_picker').datetimepicker({
            constrainInput: true,
            showClear: true,
            timepicker: true,
            datepicker: true,
            format: 'Y-m-d H:i:s',
            hours12: false,
            showOn: 'button',
            autoSize: true,
            step: 1,
            yearStart: 2020,
            yearEnd: 2090,
            onShow: function (ct) {
              this.setOptions({
                minDate: new Date()
              })
            }
          })
          $('#ending_picker').datetimepicker({
            constrainInput: true,
            showClear: true,
            timepicker: true,
            datepicker: true,
            format: 'Y-m-d H:i:s',
            hours12: false,
            showOn: 'button',
            autoSize: true,
            step: 1,
            yearStart: 2020,
            yearEnd: 2090,
            onShow: function (ct) {
              this.setOptions({
                minDate: $('#starting_picker').val() ? $('#starting_picker').val() : false
              })
            }
          })


        </script>
      </body>


      {% if timeError|length > 0%}
      <div class="alert alert-dismissible alert-danger">
        <th> </a>{{ timeError }}</th>
      </div>
      {% endif %}


    </tr>



    <td colspan="3">
      <input type="submit" , class="btn btn-primary" , value="Lisää!">

    </td>

  </form>
</div>
{% endblock %}