{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<div class="jumbotron">
  <form method="POST" action="{{ url_for('votings_create')}}">

    <h1 class="display-3"> Luo äänestys: </h1>

    <table>

      <br>

      <tr>
        <p> Kysymys: </p>
        {% if error == "Tällä nimellä on jo äänestys!" %}
        <th> {{ form.name(class="form-control is-invalid",style="width: 400px;", placeholder="Kysymys") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.name.errors %}
        <th> {{ form.name(class="form-control",style="width: 400px;", placeholder="Kysymys")}} </th>
        {% else %}
        <th> {{ form.name(class="form-control is-invalid",style="width: 400px;", placeholder="Kysymys") }} </th>
        <th> {% for error in form.name.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.nameDescription(class="col-form-label col-form-label-sm",style="width: 400px;", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>

      <tr>
        <th> &nbsp;
          <p> Vaihtoehto 1.&nbsp;&nbsp; </p>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th> {{ form.option1(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 1.") }}
        </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option1.errors %}
        <th> {{ form.option1(class="form-control",style="width: 300px;", placeholder="Vaihtoehto 1.")}} </th>
        {% else %}
        <th> {{ form.option1(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 1.") }}
        </th>
        <th> {% for error in form.option1.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option1Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>

      <tr>
        <th> &nbsp;
          <p> Vaihtoehto 2. </p>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th> {{ form.option2(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 2.") }}
        </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option2.errors %}
        <th> {{ form.option2(class="form-control",style="width: 300px;", placeholder="Vaihtoehto 2.")}} </th>
        {% else %}
        <th> {{ form.option2(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 2.") }}
        </th>
        <th> {% for error in form.option2.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option2Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=" Kuvaus (vapaaehtoinen)") }}
        </th>
      </tr>
      <tr>
        <th>
          &nbsp;
          <p> Vaihtoehto 3. </p>
        </th>
      </tr>

      <tr>
        {% if error == "Jokainen vaihtoehto pitää olla eri!" %}
        <th>{{ form.option3(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 3.") }} </th>
        <th> {% for e in error %} {{ e }}
          {% endfor %} </th>

        {% else %}
        {% if not form.option3.errors %}
        <th> {{ form.option3(class="form-control",style="width: 300px;", placeholder="Vaihtoehto 3.")}} </th>
        {% else %}
        <th> {{ form.option3(class="form-control is-invalid",style="width: 300px;", placeholder="Vaihtoehto 3.") }}
        </th>
        <th> {% for error in form.option3.errors %} {{ error }}
          {% endfor %} </th>
        {% endif %}
        {% endif %}
      </tr>

      <tr>
        <th>
          {{ form.option3Description(class="col-form-label col-form-label-sm",style="width: 300px;", placeholder=" Kuvaus (vapaaehtoinen)") }}
          <br>
          <br>
        </th>
      </tr>

    </table>


    <table>

      <div id='buttons'> </div>
      <script type="text/javascript">
      </script>

      <script type="text/javascript">
        var answers = 0;
        function addOption() {
          write = document.getElementById('buttons');
          write.innerHTML = write.innerHMTL + " <input type=\"text\" id=\"answer" + answers + "\"";
          answers = answers + 1;
        }


      </script>

      {%if form.option4.errors %}
      <button class="btn btn-danger" onclick="addOption(); return false;">uusi vaihtoehto, VIRHE TÄÄLLÄ!</button>

      {%elif form.option5.errors %}
      <button class="btn btn-danger" onclick="addOption(); return false;">uusi vaihtoehto, VIRHE TÄÄLLÄ!</button>

      {%elif form.option6.errors %}
      <button class="btn btn-danger" onclick="addOption(); return false;">uusi vaihtoehto, VIRHE TÄÄLLÄ!</button>
      {%else%}
      <button class="btn btn-outline-primary" onclick="addOption(); return false;">uusi vaihtoehto</button>
      {% endif %}


      </body>

      <script>
        var index = 4;
        var answers = 4;


        function addOption() {

          write = document.getElementById('buttons');

          if (index < 5 && index > 3) {

            write.innerHTML += 'Valitse ensin tarvittava määrä vastausvaihtoehtoja, ja kirjoita sitten vaihtoehdot tekstikenttiin';
            write.innerHTML += ' <br>'
            write.innerHTML += ' <br>'


            write.innerHTML += 'Vaihtoehto 4.';

            write.innerHTML += ' <tr> {% if error == "Jokainen vaihtoehto pitää olla eri!" %} ';
            write.innerHTML += '<th> {{ form.option4(class="form-control is-invalid", style="width: 300px;",placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}</th> ';
            write.innerHTML += '<th> {% for e in error %} {{ e }}';
            write.innerHTML += ' {% endfor %} </th> ';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += ' {% if not form.option4.errors %}';
            write.innerHTML += '<th> {{ form.option4(class= "form-control", style="width: 300px;",placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} </th>';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += '<th> {{ form.option4(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")}}</th>';
            write.innerHTML += ' <th>{% for error in form.option4.errors %} {{ error }} ';
            write.innerHTML += '   {% endfor %}</th> ';
            write.innerHTML += ' {% endif %} ';
            write.innerHTML += '  {% endif %} ';
            write.innerHTML += ' </tr>'
            write.innerHTML += ' <br>'

            write.innerHTML += '<tr> {{ form.option4Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }}</tr>';
            write.innerHTML += '<br><br><br>';

          }


          if (index < 6 && index > 4) {



            write.innerHTML += 'Vaihtoehto 5.';

            write.innerHTML += ' {% if error == "Jokainen vaihtoehto pitää olla eri!" %} ';
            write.innerHTML += ' {{ form.option5(class="form-control is-invalid",style="width: 300px;", placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} ';
            write.innerHTML += ' <br>'
            write.innerHTML += ' {% for e in error %} {{ e }}';
            write.innerHTML += ' {% endfor %} ';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += '{% if not form.option5.errors %}';
            write.innerHTML += ' {{ form.option5(class= "form-control",style="width: 300px;", placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")  }} ';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += ' {{ form.option5(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} ';
            write.innerHTML += ' {% for error in form.option5.errors %} {{ error }} ';
            write.innerHTML += '   {% endfor %} ';
            write.innerHTML += ' {% endif %} ';
            write.innerHTML += '  {% endif %} ';
            write.innerHTML += ' </tr>'
            write.innerHTML += ' <br>'

            write.innerHTML += ' <tr>{{ form.option5Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }} </tr>';
            write.innerHTML += '<br><br><br>';


          }

          if (index < 7 && index > 5) {

            write.innerHTML += 'Vaihtoehto 6.';

            write.innerHTML += ' {% if error == "Jokainen vaihtoehto pitää olla eri!" %} ';
            write.innerHTML += '{{ form.option6(class="form-control is-invalid",style="width: 300px;", placeholder="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }}';
            write.innerHTML += ' {% for e in error %} {{ e }}';
            write.innerHTML += ' {% endfor %}';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += '{% if not form.option6.errors %}';
            write.innerHTML += ' {{ form.option6(class= "form-control",style="width: 300px;", placeholder ="Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa")  }}';
            write.innerHTML += ' {% else %} ';
            write.innerHTML += ' {{ form.option6(class= "form-control is-invalid",style="width: 300px;", placeholder = "Jätä tyhjäksi, jos et haluakkaan vaihtoehtoa") }} ';
            write.innerHTML += ' {% for error in form.option6.errors %} {{ error }} ';
            write.innerHTML += '   {% endfor %} ';
            write.innerHTML += ' {% endif %} ';
            write.innerHTML += '  {% endif %} ';
            write.innerHTML += ' </tr >';
            write.innerHTML += ' <br>'


            write.innerHTML += ' <tr> {{ form.option6Description(class= "col-form-label col-form-label-sm",style="width: 300px;", placeholder = " Kuvaus (vapaaehtoinen)") }} </tr>';
            write.innerHTML += '<br><br><br>';

          }

          answers++;
          index++;

        }
      </script>
    </table>


    <tr>
      <hr class="my-4">

      <p> Mitä tuloksia haluat, että muut näkevät?</p>

      <th> {{ form.results }} </th>
      <th> {% for error in form.results.errors %} </th>
      <div class="alert alert-dismissible alert-danger">
        <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
      </div>
      {% endfor %}
    </tr>


    <tr>
      <hr class="my-4">


      <th>
        <p> Äänestys vain kirjautuneille käyttäjille?</p>
      </th>
    </tr>
    <tr>

      <th> {{ form.anonymous }} </th>
      <th> {% for error in form.anonymous.errors %} </th>
      <div class="alert alert-dismissible alert-danger">
        <th> </a> Muistathan valita jonkun vaihtoehdoista! </th>
      </div>
      {% endfor %}
    </tr>

    <hr class="my-4">

    <tr>

      <head>
        <meta charset="utf-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          rel="stylesheet" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootsrap.min.css" rel="stylesheet">
        <link href="jquery.datetimepicker.min.css" rel="stylesheet">
      </head>

      <body>
        <div class="container mt-5 mb-5" style="width: 400px">
          <p>Valitse aloituspäivä ja aika: </p>
          <th> {{ form.starting_time(class="form-control", id="starting_picker")}} </th>
          <br>
          <br>
          <p>Valitse lopetuspäivä ja aika: </p>
          <th> {{ form.ending_time(class="form-control", id="ending_picker")}} </th>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="jquery.datetimepicker.full.min.js"></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script>
          $('#starting_picker').datetimepicker({
            constrainInput: true,
            showClear: true,
            timepicker: true,
            datepicker: true,
            format: 'Y-m-d H:i:s',
            hours12: false,
            showOn: 'button',
            autoSize: true,
            step: 1,
            yearStart: 2020,
            yearEnd: 2090,
            onShow: function (ct) {
              this.setOptions({
                minDate: new Date()
              })
            }
          })
          $('#ending_picker').datetimepicker({
            constrainInput: true,
            showClear: true,
            timepicker: true,
            datepicker: true,
            format: 'Y-m-d H:i:s',
            hours12: false,
            showOn: 'button',
            autoSize: true,
            step: 1,
            yearStart: 2020,
            yearEnd: 2090,
            onShow: function (ct) {
              this.setOptions({
                minDate: $('#starting_picker').val() ? $('#starting_picker').val() : false
              })
            }
          })

        </script>
    </tr>

    </body>

    <td colspan="3">
      <input type="submit" , class="btn btn-primary" , value="Lisää!">
    </td>
  </form>


</div>
{% endblock %}