{% extends "layout.html" %}

{% block body %}

<br>
<br>
<div class="jumbotron">
    <h1 class="display-3">Äänestyksesi:</h1>
<table>
    {% for voting in votings%}
    <tr>
        <td>{{ voting.name  }} &nbsp;&nbsp;</td>
        <td>
            <br>
            <form method="POST" action="{{ url_for('votings_edit', voting_id=voting.id) }}">
                <input type="submit" , class ="btn btn-outline-warning", value="Muokkaa" />&nbsp;&nbsp;
                <br>
            </form>
        <td>
            <br>
            <form method="POST" action="{{ url_for('votings_delete', voting_id=voting.id) }}">
                <input type="submit" , class ="btn btn-outline-danger", value="Poista" />&nbsp;&nbsp;
                <br>
            </form>
        </td>
        <td>
            <br>
            <form method="GET" action="{{ url_for('votings_show_this', voting_id=voting.id) }}">
                <input type="submit" , class ="btn btn-outline-primary", value="Tarkastele ääniä" />
                <br>
            </form>
        </td>
        </td>
    </tr>
    </td>
    <tr>
        {% endfor %}
</table>
</div>
{% endblock %}