{% extends "layout.html" %}

{% block body %}

<br>
<br>
<div class="jumbotron">
    <h1 class="display-3"> {{ voting.name }} </h1>


    <form method="GET" action="{{ url_for('votings_vote_this', voting_id=voting.id) }}">
        <table>
            <td>
                <tr>
                </tr>
                <tr></tr>
                {% for item in data %}
                <tr>
                    <td> {{ data.index(item)+1}}. {{ item.name }} {{ item.description}}</td>
                </tr>
                {% endfor %}
                <tr></tr>
                <tr>
            </td>
            </tr>
            </tr>
            </td>
    </form>
    <td>
        {%for t in teksti%}
        <br>
        </tr>
    <td>
        <h4>{{t}}</h4>
    </td>
    </tr>
    {%endfor%}
    <td>
        <h5>Vaihtoehto: Äänet:</h5>
        {%for x in list%}
        <tr>
            <td>
                <h5>{{x}}</h5>
            </td>
        </tr>
        {%endfor%}
    </td>
    </td>
    </div>
    {% endblock %}