{% extends "layout.html" %}

{% block body %}

<br>
<br>
<div class="jumbotron">
    <h1 class="display-3"> {{ voting.name }} </h1>
    <form method="GET" action="{{ url_for('votings_vote_this', voting_id=voting.id) }}">
        <table>

            {% for item in data %}
            <tr>
                <th>{{ data.index(item)+1}}. {{ item.name }} {{ item.description}} </th>
            </tr>
            {% endfor %}

            <tr>
                <p></p>
                <th>
                    <p>&nbsp;</p>
                </th>
                <p></p>
            </tr>

            {%for t in teksti%}
            <tr>
                <th>
                    <h4>{{t}}</h4>
                </th>
            <tr>

                {%endfor%}

            <tr>
                <th>
                    <h5>Vaihtoehto: Äänet:</h5>
                </th>
            </tr>
            {%for x in list%}
            <tr>
                <th>
                    <h5>{{x}}</h5>
                </th>
            </tr>
            {%endfor%}
        </table>
    </form>

    {% endblock %}