{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
    <form method="POST" action="{{ url_for('votings_vote_this', voting_id=voting.id) }}">
        <table>
            <h1 class="display-3"> {{ voting.name }} </h1>

            {% if creator == current %}
            <h4>Olet luonut äänestyksen: </h4>
            {% endif %}

            <tr>
                <th>{% for item in data %} </th>
            <tr>
                <th> {{ data.index(item)+1}}. {{ item.name }} {{ item.description}}</th>
            </tr>
            {% endfor %}
            </tr>

            <tr>
                <p></p>
                <th>
                    <p>&nbsp;</p>
                </th>
                <p></p>
            </tr>
            {% if not isOn %}
            <p> Tämä äänestys käynnistyy : ajan päästä!
            </p>

            {% endif %}

            {% if creator != current and user_has_voted == False and isOn %}
            <tr>

                <th>{{ form.answer.label }} {{ form.answer }}</th>

                <td colspan="4">
                    <input type="submit" , class="btn btn-primary" , value="Äänestä!" />
                </td>
            </tr>
            {% endif %}

            {% if user_has_voted == True %}
            <h4>Olet jo äänestänyt tässä äänestyksessä!</h4>
            {% endif %}

        </table>
    </form>
</div>


{% endblock %}