{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('votings_vote_this', voting_id=voting.id) }}">
    <table>
        <tr>
            <h3>{{ voting.name }} </h3>
        </tr>
        <tr></tr>
        {% for item in data %}
        <tr>
            <td> {{ data.index(item)+1}}. {{ item.name }} {{ item.description}}</td>
        </tr>
        {% endfor %}
        <tr></tr>
        <tr></tr>
        <tr>
            <td>
                <br>
                {% if creator != current %}
                {{ form.answer.label }} {{ form.answer }}
        <tr></tr>
        <td colspan="4">
            <input type="submit" value="Äänestä!" />
        </td>
        {% else %}
        <br>
        <h4>Olet luonut tämän äänestyksen, joten et voi äänestää siinä!</h4>
        <br>
        {% endif %}
        </tr>
</form>
{% endblock %}