{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">
    <h5 class="display-4">Äänestykset missä et ole vielä äänestänyt</h5>
    <table>
        <br>
        <tr>
            <p>Käynnissä olevat äänestykset: </p>
            {% if votingsNow|length > 0 %}
            {% for voting in votingsNow %}
        <tr>
            <th>{{ voting.name }} &nbsp;&nbsp;</th>
            <th>
                <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
                    <input type="submit" , class="btn btn-primary" , value="Äänestä!" />
                </form>
            </th>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
        </tr>
    </table>


    <table>
        <tr>
            <br>
            <br>
            <p>Äänestykset, jotka eivät ole vielä alkaneet:</p>
            {% if votingsLater|length > 0 %}
            {% for voting in votingsLater %}
        <tr>
            <th>{{ voting.name }} &nbsp;&nbsp;</th>
            <th>
                <form method="POST" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
                    <input type="submit" , class="btn btn-primary" , value="Tarkastele äänestystä!" />
                </form>
            </th>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
        </tr>
    </table>

</div>
{% endblock %}