{% extends "layout.html" %}

{% block body %}
<br>
<br>
<div class="jumbotron">

    <head>
        <style>
            p.title {
                font-size: 17px;
            }
        </style>
    </head>

    <h5 class="display-4">Äänestykset, missä et ole vielä äänestänyt</h5>
    <table>
        <br>
        <tr>
            <p class="title">Käynnissä olevat äänestykset: </p>
            {% if votingsNow|length > 0 %}
            {% for voting in votingsNow %}
        <tr>
            <th>{{ voting.name }} &nbsp;&nbsp;</th>
            <th>
                <form method="GET" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
                    <input type="submit" , class="btn btn-primary" , value="Äänestä!" />
                </form>
            </th>
        </tr>
        {% endfor %}
        {% endif %}
        </tr>
    </table>
    <hr class="my-4">
    <table>
        <tr>
            <p class="title">Äänestykset, jotka eivät ole vielä alkaneet:</p>
            {% if votingsLater|length > 0 %}
            {% for voting in votingsLater %}
        <tr>
            <th>{{ voting.name }} &nbsp;&nbsp;</th>
            <th>
                <form method="GET" action="{{ url_for('votings_vote', voting_id=voting.id) }}">
                    <input type="submit" , class="btn btn-primary" , value="Tarkastele äänestystä!" />
                </form>
            </th>
        </tr>
        {% endfor %}
        {% endif %}
        </tr>
    </table>

</div>
{% endblock %}